<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{{title}} 农产品溯源平台</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/mymain.css">
    {%block head%}{%endblock head%}
</head>
<body>

{%block body%}{%endblock body%}

{#	<div class="footer no-mp" style="padding-left:100px">#}
    <div class="footer no-mp" align="center">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2017 安徽农业大学信息与计算机学院CCLSOL实验室 All Rights Reserved</p>
		<p>电话：0551-65786188  &nbsp&nbsp  皖备ICP8888888号</p>
	</div>

</body>
</html>
